
/* Agrego una fuente para el echo de ciertos titulos seleccionados en el cual los quiero aplicar */

.titulosPagSel {
  font-family: 'Merienda', cursive;
}
.h2Index{
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}
    .centrado{
        margin:10px auto;
        display:block;
}
.textoIP {
  font-family: Verdana;
}
* {
  margin:0px;
 }
 
 html, body {
  height: 100%;
 }


 .wrapper {
  min-height: 100%;
  clear:both;
 }


 .body {
    background-color: rgb(0, 0, 0);
  }
.divex1 {
    width: 700px;
    margin: auto;
    border: 3px solid #ffffff;
  }
/* A continuacion la parte para mi mas importante, el footer, en el cual me focalizo mas*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer{
  width: 100%;
  background: #202020;
  color: white;   
  
}

.container-footer-all{
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 320px;
}

.colum1 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 18px;
  color: #C7C7C7;
  margin-top: 20px;
}

.colum2{
  max-width: 320px;
  
}

.colum2 h1{
  font-size: 22px;
}

.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;
}

.row label{
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}

.colum3{
  max-width: 320px;
  border-spacing: 10px;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 img{
  width: 36px;
  height: 36px;
}

.row2 label{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 20px;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}
.colum4{
  max-width: 320px;
  border-spacing: 10px;
}

.colum4 h1{
  font-size: 22px;
}
.colum5{
  max-width: 320px;
  border-spacing: 10px;
}

.colum5 h1{
  font-size: 22px;
}

/* A continuacion una configuracion por si se abre en un dispositivo movil */
@media screen and (max-width: 1100px){
  
  .container-body{
      flex-wrap: wrap;
  }
  
  .colum1{
      max-width: 100%;
  }
  
  .colum2,
  .colum3,
  .colum4,
  .colum5{
      margin-top: 320px;
  }
}

/* A partir de aqui empezare con el codigo para el header de mi pagina */


h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

/* parrafos */
p {
  margin-bottom: 1.6em; /*margen inferior funciona como enter entre parrafos*/
}

.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header {
  background: #202020;
  color: white;
  padding: 2rem 0;

  /* hacer el menu fijo */
  position: fixed;
  left: 0;
  top: 0;
  /* ocuapamos todo el ancho */
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  /* lo alineamos al centro */
  align-items: center;
  flex-wrap: wrap;
}

/* logo */
.logo {
  letter-spacing: 15px;
  font-size: 1.3em;
}

.menu-icon {
  display: none;
}

/* todos los "ul" que esten dentro de "navigation" */
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  /* uno al lado del otro */
  display: inline-block;
}

/* los enlaces dentro del menu */
.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background: #cc4444;
}

.main {
  padding-top: 12rem;
}
.container{
  margin: auto;
  width: 1600px;
  padding: 30px;
}

/* mi slider */

.slider{
  width: 80%;
  height: 50%;
  overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    padding: 0;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/* Acomodar video del apartado de Ofertas para que quede bien esteticamente */


/* Caja de Productos */

#caja {
  border: solid 5px black;
  margin-bottom: auto;
  margin-top: 48px;

}
.divP{
  margin: 0%;
  margin-left: auto;
}
/* Apartado Ayuda */
.h3FaQ {
  margin-bottom: 1.6em;
  font-family: Verdana;
  margin:10px auto;
  display:block;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}
/* Para dejar centrada cualquier imagen */
.imagenCentrada {
  display:block;
  margin:auto;
  margin-bottom: 40px;
}
/* Texto del apartado "Contacto" con interlineado y demas */
.contactoTexto {
  line-height: 40px;
  margin-bottom: 1.6em;
  font-family: Verdana;
  margin:10px auto;
  display:block;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
}
/* Utilizando FlexBox */
.listaPadre {
  display: flex;
}
.productosOr {
  display: flex;
  border-width: 50%;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: auto;
  width: auto;
  height: auto;
}
.textoProductos {
  border-spacing: 50px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* imagenes en fila */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  padding: 12px;
  text-align: center;
  margin: 0%;
}

.grid {
  border-radius: 4px;
}

.row {
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.row:not(:first-child) {
  padding-top: 0;
}

.col {
  border-radius: 4px;
  margin: 0 6px;
  width: auto;
}

.col.col-3 {
  width: 50%;
}

.col.col-4 {
  width: 50%;
}

.col img {
  border-radius: 3px;
  box-shadow: 0 4px 25px 3px rgba(0,0,0,.25);
  height: 100%;
  width: 100%;
}
/* Apartado Ayuda usando grids */
.grid-container {
  display: grid;
  grid-template-columns: "auto auto auto";
  grid-auto-rows: "auto auto auto";
  justify-content: center;

}
.grid-container div {
  text-align: center;
  font-stretch: expanded;
  font-size: medium;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #C7C7C7
}
.item1 {
  grid-column: 1 / 3;
  font-stretch: unset;
}
.item3 {
  margin-left: 100px;
  margin-top: 150px;
  align-items: center;
  align-content: center;
}

/* Aplicando animacion en un header del apartado contacto.html */
.headeranimado {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Sans serif';
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.bg_animate{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #202020, #202020);
  position: relative;
  overflow: hidden;
}

.header_nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header_nav .contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header_nav h1{
  color: #fff;
  font-family: 'Gagalin';
}

.header_nav nav a{
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.banner_title h2{
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner_title .llamanos{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #949494;
  padding: 20px;
}

.banner_img{
  animation: movimiento 2.5s linear infinite;
}

.banner_img img{
  width: 600px;
  display: block;
  justify-content: center;
}

/* burbujas */

.burbuja{
  border-radius: 50%;
  background: #fff;
  opacity: .3;

  position: absolute;
  bottom: -150;
  
  animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3){
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8){
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10){
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}


@keyframes burbujas{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .4;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}
/* Imagenes de un mismo tamaño en el slide */
.imagenesSlide {
  object-fit: cover;
}
/* Contacto */

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #ef6603;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffecde;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2a2c39;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555974;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #ef6603;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #ef6603;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #fc8129;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotacion {
  animation-name: rotation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}